@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');/*Se importa la fuente Roboto*/

body{
    font-family: 'Roboto', sans-serif !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: calc(1.5rem + 1.5vw);
    font-weight: bold;
}
.bg-blue{
    background-color: #0163AC;
    background-image: url('https://raw.githubusercontent.com/Jcanotorr06/images/main/css.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.mt-6{
    margin-top: 6rem;
}

.min-h-100{
    min-height: 60vh !important;
}

.form-control, .form-select{
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #a5acb3;
    border-radius: 1%;
    transition: 0.3s;
}

.form-floating label{
    transition: 0.3s;
}

.btn-primary{
    background-color: #0163AC;
}
.btn-primary:hover{
    background-color: #01497f;
}

a{
    color: #0163AC;
}
a:hover{
    color: #01497f;
}
a:visited{
    color: #1b9dfe;
}
a:visited:hover{
    color: #01497f;
}

.form-floating > .form-control::placeholder{/* Se cambia el color por defecto del placeholder de los inputs flotantes */
    color: #b1b1b1;
}
.form-floating > .form-control:not(:focus)::placeholder{/* Se cambia el color del placeholder de los input flotantes a transparente cuando el input está activo*/
    color: transparent;
}

.table-head{
    background: #808692;
}

.min-w-900{
    min-width: 1000px;
}

td{
    width: fit-content;
}

.dataTables_paginate{
    display: flex !important;
    justify-content: center;
    width: 100%;
    margin: 2rem 0;
}

.dataTables_paginate a{
    text-decoration: none;
}

.dataTables_paginate a:hover{
    cursor: pointer;
}

.dataTables_paginate>span{
    margin: 0 0.5rem;
}

.dataTables_paginate .disabled{
    color: #a5acb3;
    cursor:initial;
}
.dataTables_paginate .disabled:hover{
    cursor:default;
}

.dataTables_paginate>span>a{
    border-radius: 100% !important;
    padding: 0.5rem 0.75rem;
    color: #a5acb3;
}
.dataTables_paginate>span>a.current{
    color: #FFFFFF;
    background: #0163AC;
}